
.image.is-16by9 img{
  height: auto;
  width: 100%
}

.image.is-16by9{
  overflow: hidden;
}

.navbar-item{
  margin: 0 auto;
}


.image.is-4by5 {
  padding-top: 70%;
}


.image.is-4by5 img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.sectionOneSB,.sectionTwoSB{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0em;
}

.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
  margin-bottom: 0;
}

.sectionThreeSB{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 0.5em
}

.sectionThreeSB #description{
  font-size: 0.9em;
  text-align: justify;
  padding-bottom: 0.5em;
}

#buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5em 0;
}
